<h3>Who We Are:</h3>
<div class="row">
  <div class="eight columns panel">
    <p>The term "<a target="_blank" href="http://www.paulgraham.com/gba.html">hacker</a>" is often misunderstood until someone becomes a hacker.  There are people who hack for malicious purposes, but that is NOT who we are.  We are programmers, engineers, scientists, entrepreneurs, designers, students or simply people who are interested in technology.</p>
    <p><b>"We are hackers who like to get together in informal settings and to have interesting discussions.  Often over lots of beers and food."</b></p>
  </div>
</div>
