<h3>Contact meeeu!</h3>
<div class="row">
 <div class="eight columns panel">
  <p>For now the best way to reach me is through this site.  Unless there are bugs let me know via <a target="_blank" href="mailto:wilsonchang84@gmail.com">email</a> please.</p>
 </div>
</div>
