<div class="row">
  <div class="six columns">
    <img class="pic" src="http://s3-media3.ak.yelpcdn.com/bphoto/5bHZ3WEkCqNaqujahUHxSw/l.jpg" > 
  </div>  
  <div class="right five columns">
    <p>Hi guys,<br /><br />&nbsp&nbsp&nbsp&nbsp Marry Christmas and Happy New Years!  I have expressed my intentions of starting a hackers/startup club to all of you and I hope we can begin to meet starting in 2012.  This is a totally commitment-free club with the aim of hanging out with like minded friends who share similar interests and ideals.  Please feel no pressure and participate only if you want to.  I have spent some times building this basic site to help facilitate our gatherings.  Shout out to Jade for recommending me RoR for a fun and lightning fast dev experience.</p>
    
    <p>Please start by joining node <a class="red-link" href="/nodes/L(H)A(c)kers">L(H)A(c)kers</a>  and help me schedule our first gathering.</p>
    
    <p>Best wishes,<br/>
    <i>meeeu</i></p>

    <p>
      Latest Stats<br />Users in Nodes: <%= Node.find(params[:id] = 1).followers.count %><br />All Users: <%= User.count %>
    </p>
  </div>
</div>
