<div id="1">
<h1>Hackers R. Us</h1>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<div id="2">
<p id="clue">shuarcskre</p>
<form action="javascript:so();">
    <div>
        <input id="q" type="text" autocomplete="off" />
    </div>
</form><span></span></div>

<script>
$('#q').keydown(function(event) {
    var newValue = $('#clue').text().replace(String.fromCharCode(event.keyCode).toLowerCase(), '');
    $('#clue').text( newValue );});
    $('body').css({'color':'white','background-color':'black'});
    
$('#1').hide();

function so() {$('#2').fadeOut('slow');$('#1').fadeIn('slow');$('body').css({'color':'black','background-color':'white'});}

$('input:submit').hide();

$("form").submit(function() {
    if ($("#q").val().toLowerCase() == "hackersrus") {
        $("span").text("Validated...").show();
        return true;}                                                                  
    $('#clue').text('shuarcskre');                                                     
    $('#q').val('');                                                                   
    $("span").text("Hack Harder!").show().fadeOut(1000);                               
    return false;});
</script>
